<div class="post">
  <h2>{{post.headline}}</h2><img src={{post.image}}>
  <p>{{post.writter}} {{post.date}}</p>
  {{#if isContentShowing }}
      <p{{action 'hideContent'}}>{{post.content}}</p>
     {{else}}
       <button class="btn" {{action 'showContent'}}>Read more</button>
    {{/if}}
    <button class="btn" {{action 'delete' post}}>Delete</button>
</div>
